---
title: Is Dota Right For Me?
---

<section class="u-black py-5">
  <div class="container">
 
    <h1>Is Dota Right For Me?</h1>
    <p class="mt-3 mb-0">What kind of player is dota for?</p>
  </div>
</section>

<section class="container my-5">
  <div class="row align-items-stretch">
    <div class="col col-md-8">
      <div class="u-light h-100 p-5">
        <h5>Brief Overview</h5>
        <p>
          Dota 2 is based on a custom game from Warcraft III. DotA is an acronym standing for 'Defense of the Ancients'.
        </p>
        <p>
          Just as the name suggests Dota 2 is a game about defending. But Dota is a game of both Offense and Defense. Simultaneously each team is trying to find a method to destroy their opponents. Like a game of chess a round never ends until one team is defeated. 
        </p>
        <p>
          Warcraft DotA garnished itself enough popularity to ultimatly be made into its own stand alone game, called Dota 2. It also inspired the release of many other similar games including League of Legends, HoN, and more. 
        </p>
        <p class="mb-0">
          Dota 2 is commonly referred to as a MOBA. But to be more speficic Dota 2 is a 5vs5 Competitive Multiplayer game, and it controls like an RTS (Real Time Strategy) because of its Warcraft roots.
        </p>
      </div>
    </div>
    <div class="col col-md-4">
      <%= image_tag 'squares/gameplay1.png', class:'framed' %>
    </div>
  </div>
</section>
<div class="u-black py-5">
  <section class="container">
    <div class="row">
      <div class="col">
        <h2 class="mb-5">Common Talked About Points Reagarding Dota 2...</h2>
      </div>
    </div>
    <div class="row d-flex mb-5">
      <div class="col col-md-6 ">
        <p class="quote">Everyone who plays Dota is a Toxic Asshole</p>
        <p>
          While its true you will interact with many sour souls in your time playing Dota. It really isnt any better or worse than other competitive online games.
        </p>
        <p>
          The difference Dota has with many other multiplayer games is in Dota one has to finish out each round start to finish without quiting. The rounds in Dota are quite long compared to most games. This combined with gameplay that lends itself to many openings for bad people to grief gives Dota 2 the rep that it has. 
        </p>
        <p>
          However, if you compare it to other ranked games where quitters are punished the level of toxicity is relatively the same. Dota 2 features NO METHOD OF SURRENDER which results in some insane comebacks and probably one of the most dedicated to the win communites you can find.
        </p>
      </div>
      <div class="col col-md-6 ">
        <p class="quote">You have to be super good to even play Dota 2</p>
        <p>
          No one starts out truly good at anything. Including Dota. Dota does not have to be played on a hardcore level. Many people play Dota casually. Many people never even play the ranked mode.
        </p>
        <p>
          It's okay to be bad at Dota-- and most importantly you can have loads of fun while being bad at Dota playing against others of your skill level.
        </p>
      </div>
    </div>
    <div class="row d-flex mt-5">
      <div class="col col-md-6 ">
        <p class="quote">It takes thousands of hours to learn how to play Dota</p>
        <p>
          You define what 'learning dota' means. If 'Learning Dota' to you means becoming a high ranking player than the above statement rings true.
        </p>
        <p>
          However, if you're just looking to have some fun you can be understanding Dota enough to play it and enjoy the game by the end of this tutorial.
        </p>
      </div>
      <div class="col col-md-6 ">
        <p class="quote">Dota 2 requires RTS and Micro skills</p>
        <p>
          While it may help a little bit to come from an RTS backround it is certainly not necessary. 
        </p>
        <p>
          As for micro control, the majority of time you will spend playing Dota 2 you will only need to be controlling one single unit.
        </p>
        <p>
          Only certain heroes and niche situations pit you in a position where you have to manage multiple units like an RTS.
        </p>
      </div>
    </div>
  </section>
</div>
<div class="container py-5">
  <div class="row">
    <div class="col">
      <%= image_tag 'misc/wide.png' %>
    </div>
  </div>
  <div class="row mb-5 align-items-stretch">
    <div class="col">
      <div class="u-light h-100 p-5 text-center">
        <section class="mb-3">
          <h2>So is Dota 2 for Everyone?</h2>
          <h5>Short Answer: No</h5>
        </section>
        <p class="mb-0">
          In the end Dota 2 is a niche game for a niche gamer.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="mb-5">Signs Dota May Not Be Right For You...</h2>
    </div>
  </div>
  <div class="row d-flex mb-5">
    <div class="col col-md-6 ">
      <p class="quote">I dont like having to interact with other real people in games</p>
      <p>
        Dota absolutely requires the heavy interaction with other human beings. The game has to be played 5vs5. No more no less. Players play the entire round together from start to finish. Even if you mute everyone (which is okay) you will still be playing a game that requires the joint effort of 5 players.
      </p>
      <p>
        If you're the type that prefers SP games very heavily and likes to play alone Dota 2 is probably not for you.
      </p>
      <p>
        However, some people just play Dota against the AI and/or friends only and don't bother playing with strangers. This is possible to do and enjoy.
      </p>
    </div>
    <div class="col col-md-6 ">
      <p class="quote">I dont like long games. I just want something to play real quick</p>
      <p>
        A round of dota averages around 45 minutes +/- 15 minutes or so. Some games where one team is stomping end in as little as 25 minutes while others may be 90 minutes long! There is no time limit in Dota, however there are mechanics in place to break stalemate and help force an end as the game progresses.
      </p>
      <p>
        All that said as you can see even 'short' rounds of Dota last much longer than many other competitive games.
      </p>
      <p>
        If you dont want to sit at your computer for at least 1 hour per game than Dota is probably not right for you.
      </p>
    </div>
  </div>
  <div class="row my-5 align-items-stretch">
    <div class="col col-md-4">
      <%= image_tag 'squares/ta.png', class:'framed' %>
    </div>
    <div class="col col-md-8">
      <div class="u-light h-100 p-5 d-flex align-items-center">
        <section> 
          <section class="mb-3">
            <h2>Ready to Learn Some Dota?</h2>
          </section>
          <p>
            Dota 2 is a game for people that love team work and deep complexity. There are thousands of different spell and item interactions to learn and play with in the game of Dota.
          </p>
          <p>
            What makes Dota difficult to learn is also what makes it so special and fun.
          </p>
          <%= link_to(
              "Learn To Play Dota 2",
              "learn/ch0-se2-what-is-dota",
              class: "btn btn-lg btn-danger w-100 mt-3"
            ) %>
        </section>
      </div>
    </div>
  </div>
</div>