---
title: Is Dota Right For Me?
---

<section class="u-black text-center py-5">
  <div class="container">
    <img class="u-icon-image mb-3" src="images/orange-logo.png" />
    <h1>Learn how to play Dota 2</h1>
    <p class="mt-3 mb-0">You Can Do It!</p>
  </div>
</section>

<section class="container my-5">
  <div class="row d-flex justify-content-center">
    <div class="col col-md-8">
      <div class="u-light p-5">
        <h5>Authors Note</h5>
        <p>
          Thank you for checking out my tutorial of Dota 2. This game means a whole awful lot to me. However, I know it can be scary to get into because of its complexity and/or notorious community.
        </p>
        <p>
          But I am here to tell you that for the right person Dota does not have to be a chore to learn. The fun starts the moment to get into it and begin playing.
        </p>
        <p>
          Allow this guide to be a useful companion on your journey to learning one of the most rewarding competitive multiplayer games ever made.
        </p>
        <p class="mb-0">
          Good luck and have fun!<br><br>
          @DirtyChump
        </p>
      </div>
    </div>
  </div>
</section>
<div class="u-black py-5">
  <section class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="mb-5">Choose a starting point...</h2>
      </div>
    </div>
    <div class="row d-flex align-items-stretch">
      <div class="col col-md-6 d-flex flex-column justify-content-between">
        <section class="d-flex align-items-center">
          <div class="icon-header mb-3">
            <i class="far fa-question-circle"></i>
          </div>
          <h4 class="ml-4">Is Dota 2 Right For Me?</h4>
        </section>
        <section>
          <p>
            Unsure in any way? Not sure if you will enjoy Dota 2?
          </p>
          <p>
            If you choose to start here we will go over what Dota is and where it came from. To help you decide if its worth investing any time into.
          </p>
          <p class="font-weight-bold">
            Recommended for those that know nothing about Dota. 
          </p>
          <%= link_to(
            "Learn About Dota",
            "ch0-is-dota-right-for-me",
            class: "btn btn-lg btn-light w-100 mt-3"
          ) %>
        </section>
      </div>
      <div class="col col-md-6 d-flex flex-column justify-content-between">
        <section class="d-flex align-items-center">
          <div class="icon-header mb-3">
            <i class="fas fa-play-circle"></i>
          </div>
          <h4 class="ml-4">I Know of Dota</h4>
        </section>
        <section>
          <p>
            Know of Dota but just have no clue how to play?
          </p>
          <p>
            If you choose to start here we will began how to play Dota right away.
          </p>
          <p>
            We start from the ground up. You don't need any prior MOBA skills or anything of the sorts.
          </p>
          <%= link_to(
            "Learn To Play",
            "/ch0-is-dota-right-for-me",
            class: "btn btn-lg btn-danger w-100 mt-3"
          ) %>
        </section>
      </div>
    </div>
  </section>
</div>
